Package: jwi
Name: NotitiaMeridiem
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: JWI Master
Author: JWI Master
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
